<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOOD DONATION</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
      * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: "Gabarito", cursive;
      }
      .container1 {
        background-image: url("https://blog.dlvrit.com/wp-content/uploads/thanksgiving-2.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        color: white;
        /* background-color: rgba(255, 0, 0, 0.5); */
      }
      .back_color {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }
      .header {
        display: flex;
        align-items: center;
        height: 80px;
        padding-left: 150px;
      }
      .quote {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 100px;
        margin-top: 100px;
      }
      .quote p,
      .intro p {
        width: 800px;
        text-align: center;
      }
      .intro {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        margin-bottom: 10px;
      }
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .in {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        height: 80px;
      }
      button {
        height: 50px;
        width: 200px;
        margin: 30px;
        font-size: medium;
        background-color: gold;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 5px #484848;
      }
      button:hover {
        cursor: pointer;
        background-color: rgb(210, 179, 0);
        font-weight: bold;
        transition: 0.3s;
        box-shadow: 0 0 8px #adadad;
      }
      #b1:hover,
      #b2:hover {
        position: relative;
        bottom: 1.2px;
        right: 1.2px;
      }
      .container2,
      .container3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 455px;
        width: 1000px;
      }
      .info {
        display: flex;
        align-items: center;
        width: 550px;
        font-size: large;
        text-align: center;
      }
      .image {
        border-radius: 15px;
        object-fit: cover;
      }
      hr {
        width: 890px;
        background-color: gray;
      }
      .footer {
        background-color: #4a5d69;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      a {
        color: black;
      }
      .p {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container1">
      <div class="back_color">
        <div class="header">
          <h1>FOOD DONATION</h1>
        </div>
        <div class="quote">
          <p>A meal shared is a smile shared</p>
        </div>
        <div class="intro">
          <p>
            Welcome to Food Donation, where we bridge the gap between abundance
            and need by connecting surplus food to those who hunger, creating a
            world where no one goes to bed hungry.
          </p>
        </div>
        <div class="btn">
          <div>
            <form action="/signup" method="get">
              <button id="b1">SignUp</button>
            </form>
          </div>
          <div>
            <form action="/donlogin" method="get">
              <button id="b2">SignIn</button>
            </form>
          </div>
        </div>
        <div class="in">
          <p>
            Over 30% of daily meals served to those in need and 100,000+ meals
            distributed.
          </p>
        </div>
      </div>
    </div>
    <center>
      <div class="container2">
        <div class="info">
          <p>
            Food donation is the act of giving surplus or unused food to
            individuals or organizations in need, thereby reducing food waste
            and helping to alleviate hunger. It is a compassionate and
            sustainable way to ensure that edible food is distributed to those
            who are less fortunate, promoting social welfare and environmental
            responsibility. Food donations play a crucial role in addressing
            food insecurity and supporting communities around the world.
          </p>
        </div>
        <div class="pic">
          <img
            src="https://www.aahar.org.in/images/img2.jpg"
            alt=""
            height="300px"
            width="300px"
            class="image"
          />
        </div>
      </div>
      <hr />
      <div class="container3">
        <div class="pic">
          <img
            src="https://images.pexels.com/photos/6994982/pexels-photo-6994982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
            height="300px"
            width="300px"
            class="image"
          />
        </div>

        <div class="info">
          <p>
            Food donation is a critical practice that redistributes millions of
            tons of surplus food each year, helping to combat hunger and reduce
            food waste. In the United States alone, it's estimated that over 72
            billion pounds (32.7 million metric tons) of food are donated
            annually, providing sustenance to millions of people while diverting
            food from landfills and reducing greenhouse gas emissions. Food
            donation plays a crucial role in addressing food insecurity and
            promoting environmental sustainability.
          </p>
        </div>
      </div>
    </center>
    <div class="footer">
      <h1>FOOD DONATION</h1>
      <p>Copyright © FOOD DONATION,Inc.</p>
      <p class="p">Helpline</p>
      <a href="#">fooddonation@gmail.com</a>
    </div>
  </body>
</html>
